# Django environment file
DJANGO_SETTINGS_MODULE=finance_manager.settings
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_DEBUG={{ django_debug }}
DJANGO_ALLOWED_HOSTS={{ django_allowed_hosts }}
DJANGO_DATABASE_ENGINE={{ db_engine }}
DJANGO_DATABASE_NAME={{ db_name }}
DJANGO_DATABASE_USER={{ db_user }}
DJANGO_DATABASE_PASSWORD={{ db_password }}
DJANGO_DATABASE_HOST={{ db_host }}
DJANGO_DATABASE_PORT={{ db_port }}
