[Unit]
Description=Gunicorn daemon for {{ app_name }}
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}/app/src
ExecStart={{ app_dir }}/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:{{ app_dir }}/app.sock \
          finance_manager.wsgi:application

[Install]
WantedBy=multi-user.target
